jmespath
gevent
wtforms
pickle5
six
tqdm
jieba
Cython
docx
textembedding
sklearn
statsmodels
python-Levenshtein
numpy
scipy
pymysql>=0.8.0
pandas
requests
xlrd==1.2.0
xlwt==1.3.0
openpyxl
APScheduler
matplotlib
tornado
redis
celery
pika
flower