jmespath
gevent
wtforms
pickle5
six
tqdm
jieba
Cython
docx
textembedding
sklearn
statsmodels
python-Levenshtein
numpy
scipy
pymysql>=0.8.0
pandas
gensim==3.8.3
requests
xlrd==1.2.0
xlwt==1.3.0
openpyxl
tensorflow==1.15.2
cnsenti
textrank4zh
APScheduler
spacy
torch>=1.5.0
matplotlib
tornado
redis
celery==3.1
pika==0.9.14
flower==0.9.7